<div class="column three-fourth">
	<div class="table-responsive">
		<table>
			<tbody>
				<%= render 'posts/post_listing', :post => @post %>
			</tbody>
		</table>
	</div>
</div>
<div class="column one-fourth well animation" style="float: right">
	<h2>Blog's journel</h2>
	<%= render 'posts/archive' %>
</div>
